<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062475402087-qdjm97vprcs4usgu79c9ebka4iva45k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062475402087-qdjm97vprcs4usgu79c9ebka4iva45k1</string>
	<key>API_KEY</key>
	<string>AIzaSyAbSuNW-ePq5RiINNftNwHUtGCMqkcJBNk</string>
	<key>GCM_SENDER_ID</key>
	<string>1062475402087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memefolder.memefolder</string>
	<key>PROJECT_ID</key>
	<string>meme-folder</string>
	<key>STORAGE_BUCKET</key>
	<string>meme-folder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062475402087:ios:f348ace65a5120c3c0bdc2</string>
	<key>DATABASE_URL</key>
	<string>https://meme-folder.firebaseio.com</string>
</dict>
</plist>